
@{
    ViewBag.Title = "MVCCalculator";
}

    <div class="col-centered">
        <table>
            <tr>
                <td colspan="4">
                    <input type="text"/>
                </td>
                <td colspan="1">
                    @using (Html.BeginForm("Akcja", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="s" value="C">C</button>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <button class="mybutton" type="button">7</button>
                </td>
                <td>
                    <button class="mybutton" type="button">8</button>
                </td>
                <td>
                    <button class="mybutton" type="button">9</button>
                </td>
                <td>
                    <button class="mybutton" type="button">/</button>
                </td>
                <td>
                    <button class="mybutton" type="button">sqrt</button>
                </td>
            </tr>

            <tr>
                <td>
                    <button class="mybutton" type="button">4</button>
                </td>
                <td>
                    <button class="mybutton" type="button">5</button>
                </td>
                <td>
                    <button class="mybutton" type="button">6</button>
                </td>
                <td>
                    <button class="mybutton" type="button">*</button>
                </td>
                <td>
                    <button class="mybutton" type="button">%</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="mybutton" type="button">1</button>
                </td>
                <td>
                    <button class="mybutton" type="button">2</button>
                </td>
                <td>
                    <button class="mybutton" type="button">3</button>
                </td>
                <td>
                    <button class="mybutton" type="button">-</button>
                </td>
                <td rowspan="2">
                    <button class="mybutton" type="button" id="eqBtn">=</button>
                </td>
            </tr>
            <tr>
                <td>
                    <button class="mybutton" type="button">0</button>
                </td>
                <td>
                    <button class="mybutton" type="button">.</button>
                </td>
                <td>
                    <button class="mybutton" type="button">+/-</button>
                </td>
                <td>
                    <button class="mybutton" type="button">+</button>
                </td>
            </tr>
        </table>

    </div>