@model MVCCalculator.Models.Calculator

@{
    ViewBag.Title = "MVCCalculator";
}

    <div class="col-centered">
        <table>
            <tr>
                <td colspan="4">
                    @*@using (Html.BeginForm()) TODO DODAJ KLASE UNIEMOZLIWIAJACA PISANIE
                    {*@
                    @Html.TextBoxFor(m => m.Display)
                    @*}*@
                </td>
                <td colspan="1">
                    @using (Html.BeginForm("Clear", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit">C</button>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="7">7</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="8">8</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="9">9</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeOperator", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="op" value="/">/</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Sqrt", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="op" value="sqrt">sqrt</button>
                    }
                </td>
            </tr>

            <tr>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="4">4</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="5">5</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="6">6</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeOperator", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="op" value="*">*</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Percent", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit">%</button>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="1">1</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="2">2</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="3">3</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeOperator", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="op" value="-">-</button>
                    }
                </td>
                <td rowspan="2">
                    @using (Html.BeginForm("TakeOperator", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="op" value="=" id="eqBtn">=</button>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @using (Html.BeginForm("TakeNumber", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="val" value="0">0</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeDot", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit">.</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("ChangeSign", "Calculator", FormMethod.Post))
                    {
                    <button class="mybutton" type="submit" name="op" value="+/-">+/-</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm("TakeOperator", "Calculator", FormMethod.Post))
                    {
                        <button class="mybutton" type="submit" name="op" value="+">+</button>
                    }
                </td>
            </tr>
        </table>

    </div>